
{% extends "_site.j2" %}

{% block content %}
<div>
	<h1>Example One</h1>

	<p>Using Pandas on the backend to read a .csv file, remove unwanted data, and return a formatted table.</p>

	<p>Data are relative motions of a GPS ground station that sits on top of Sierra Negra volcano in the Galápagos.</p>

	{{ table|safe }}

</div>
{% endblock %}