<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Python Flask</title>
    {% block css %}{% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}
    {% block js %}{% endblock %}
  </body>
</html>