<div>
    <span><a title="Home Page" href="{{ url_for('public.index') }}">Home</a></span> | 
    <span><a title="Example One" href="{{ url_for('public.example_one') }}">Example One</a></span> | 
    <span><a title="Example Two" href="{{ url_for('public.example_two') }}">Example Two</a></span>
</div>